*, *::after, *::before {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.questions-hud{
    display: flex;
    align-content: center;
    flex-direction:column;
    justify-content:space-between;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    background-color: rgb(233, 119, 119);
    text-transform: uppercase;
}

.questions-hub > h1:nth-child(odd){
    font-size: 2rem;
}
#rgbCode{
    font-size: 3.5rem;
    font-weight: 550;
}

.menu-hud {
    width: 100%;
    height: 41px;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    color: black;
    text-align: center;
}

.gameStatus {
    color: rgb(233, 119, 119);
    font-size: 1.3rem;
    padding-top: 5px;
    position: relative;
}

div > .playAgainBtn, div > .easyLevelBtn, div > .hardLevelBtn {
    outline: none;
    height: 35px;
    display:inline-block;
    margin-top: 3px;
    width: fit-content;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2rem;
    background-color:#F5E8E2;
    border: none;
    border-top: 1px solid black;
    text-transform: uppercase;
}
div > .playAgainBtn:hover, div > .easyLevelBtn:hover, div > .hardLevelBtn:hover {
    border-top: none;
}
div > .playAgainBtn::after, div > .easyLevelBtn::after, div > .hardLevelBtn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(233, 119, 119);
    transition: width .7s;
}

div > .playAgainBtn:hover::after, div > .easyLevelBtn:hover::after, div > .hardLevelBtn:hover::after {
    width: 100%;
    transition: width .3s;
}

div > .playAgainBtn:active, div > .easyLevelBtn:active, div > .hardLevelBtn:active{
    background-color: rgba(250, 232, 232, 0.01);
    transition: ease-in-out 0.1s;
}

.color-box {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 240px);
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 15px;
}

.box {
    cursor: pointer;
    width: 220px;
    height: 220px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid #aaa;
}
