*, *::after, *::before {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 5rem;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.countdown {
    /* background-image: url("../images/countdown.jpg"); */
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: black;
}

.day, .hour, .minute, .second {
    font-size: 3.5rem;
}