*, *::after, *::before {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 5rem;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
}

.countdown {
    /* background-image: url("../images/countdown.jpg"); */
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: black;
}

.day, .hour, .minute, .second {
    font-size: 3.5rem;
    /* border: 1px solid #aaa; */
    padding: 10px;
    /* border-radius: 10px; */
}

.second.change {
    animation: secondCounter 1s ease-in-out infinite;
}

@keyframes secondCounter {
    0% {transform: translateY(-40px); opacity: 0;}
    50%{transform: translateY(0); opacity: 1;}
    100%{transform: translateY(18px); opacity: 0;}

  }

.day.change, .hour.change, .minute.change {
    animation: animateCounter 1s ease-in-out infinite;
  }

@keyframes animateCounter {
    0% {transform: translateY(-10px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
    /* 100%{transform: translateY(40px); opacity: 0;} */

}

.celebration {
    display: none;
    min-height: 60vh;
}